{% extends 'account/base.html' %}
{% load static %}
 {% block content %}
<div class="container">
  <h1>Stock searcher</h1>

  <p>Search for stocks</p>
  <form action="" method="GET" autocomplete="off">
    <label for="stock-searcher"> Search stocks : </label>
   <div class="autocomplete" style="width:300px;">
    <input id="stockinput" type="text" name="stockinput" placeholder="Stocks">
    <input type="button" onclick="searchFunction()" value = "Search"/>
  </div>
    <br />
    <input class="btn btn-primary" type="submit" value="Submit" />
  </form>
</div>
{% endblock %}

{% block script %}
<script type='text/javascript' src="{% static 'js/autocomplete.js' %}"></script>
<script type='text/javascript' src="{% static 'js/querySearch.js' %}"></script>

<script>
    var stocks = []
    const element = document.getElementById("stockinput");

    function searchFunction(){
    var data = element.value;
       querySearch(data).then(response =>{
        console.log(response);
        stocks = response.map(o=>(o.description+"("+o.displaySymbol+")"));
       }).then(()=>{autocomplete(element, stocks)});
      }
</script>
{% endblock%}